<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок статьи</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <article class="article">
        <header class="article-header">
            <form method="POST" action="/" class="custom-button">  
                <button>Главная страница</button>
            </form>
            
            <form method="POST" action="/photo" class="custom-button">  
                <button>Найти по фото</button>
            </form>
            
        <footer class="article-footer">
            <p class="share-links">Поделиться: <a href="#">ВКонтакте</a> | <a href="#">Telegram</a></p>
        </footer>
    </article>
</body>
</html>