<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок статьи</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <article class="article">
        <header class="article-header">
            <form method="POST" action="/" class="custom-button">  
                <button>Главная страница</button>
            </form>
            
            <h2 class="article-title">Хочешь помочь сайту развиться?</h2>
            <h3>Тогда напиши свое предложение и оно отправиться на модерацию!</h3>
            <form method="POST" action="/help">
                <label for="user_input">Введите текст:</label>
                <input type="text" id="user_input" name="user_input">
                <button type="submit">Отправить</button>
            </form>

        </header>
        <div class="article-content">

        </div>
        <footer class="article-footer">
            <p class="share-links">Поделиться: <a href="#">ВКонтакте</a> | <a href="#">Telegram</a></p>
        </footer>
    </article>
</body>
</html>