<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок статьи</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <article class="article">
        <header class="article-header">
            <form method="POST" action="/arduino" class="custom-button">
                <button>Интересно? Пройди тест!</button>  
            </form>
            <form method="POST" action="/two" class="custom-button">  
                <button>Информация</button> 
            </form>
            
            <form method="POST" action="/a" class="custom-button">  
                <button>a</button> 
            </form>
            <h1 class="article-title">Микроконтроллер</h1>
            <h2 class="article-title2">Что это? Принцип работы. Где применяется? </h2>
            <div class="article-meta">
                <span class="author">Автор: Киселев Ярослав / Олег Евсегнеев</span>
                <time class="date" datetime="2023-10-15">21.02.2026 </time>
                <span class="reading-time"> Время чтения: 8 минут</span>
            </div>
        </header>

        <img src="static/img/banner_microkontrolleri.webp" alt="Иллюстрация к статье" class="article-cover">

        <div class="article-content">
            <p>В наши дни слово микроконтроллер стало обыденным, порой даже для ученика средних классов. 
                Снизился уровень вхождения людей в область микроэлектроники, и произошло это прежде всего благодаря работе таких энтузиастов, как разработчики платформы Arduino. 
                На этом сайте опублиткованна информация о микроконтроллерах, о их разновидностях и т. д.</p>

            <h2>Что такое микроконтроллер? Где он применяется?</h2>
            <p>В центре любого компьютера находится микропроцессор — это устройство, которое осуществляет все расчёты, необходимые для обработки информации. Микропроцессор установлен на материнскую плату, которая связывает его с памятью и разной периферией: с монитором, с клавиатурой и мышью, с видеокамерой и аудиоколонками.
                А что со смартфонами, в них тоже есть микропроцессор? И да и нет. В мобильных устройствах как правило устанавливают так называемую систему на кристалле (SoC). Внешне эта система выглядит как микросхема с множеством контактов, почти как обычный микропроцессор. Но в SoC кроме микропроцессора есть ещё дополнительные модули связи и графический ускоритель.
                Но что делать инженеру, который хочет наделить обычный бытовой прибор: стиральную машину, холодильник или даже чайник способностью работать по программе? Не вставлять же в них целый компьютер — это будет избыточно и дорого. Для этих целей инженеры придумали особый вид вычислительных машин — микроконтроллеры.</p>
            <p></p>
            <p>В отличие от компьютера, микроконтроллеру не нужна материнская плата. Это сильно упрощает его встраивание и удешевляет стоимость системы в целом. По большей части, всё что ему требуется для работы находится внутри одной микросхемы: вычислительное ядро, постоянная и оперативная память, а также аппаратные интерфейсы для работы с периферией.</p>
            <blockquote class="quote">
                <p>«Микроконтроллер — это как пульт от телевизора, только вместо ряда кнопок — регистр, а вместо самих кнопок — биты»</p>
                <footer class="quote-author">— Автор цитаты - ***</footer>
            </blockquote>

            <h3>Итог. Где же применяется</h3>
            <ul>
                <li>Бытовая техника</li>
                <li>Промышленость</li>
                <li>Медицина</li>
                <li>Авиация</li>
                <li>И т. п.</li>
            </ul>

            <p>Из этого следует что микроконтроллеры применяются повсеместно и очень охотно.</p>

            <h2>Принцип работы</h2>

                                                <h4>Выводы общего назначения — GPIO</h4>
            <p>Одна из важнейших подсистем микроконтроллера — это интерфейс GPIO (General Purpose Inputs Outputs). 
                С английского GPIO переводится как: «входы/выходы общего назначения», или как: «выводы общего назначения». 
                Эти выводы могут регистрировать и генерировать цифровые сигналы. 
                А внутренняя логика обработки этих сигналов обеспечивается программой.</p>
            <p></p>
            <p>Каждый контакт GPIO может работать в двух режимах: в режиме выхода (<strong>OUTPUT</strong>) и в режиме входа (<strong>INPUT</strong>).</p>
            <p></p>
            <p>В режиме выхода контакт можно представить в виде переключателя, который соединяет ножку микросхемы либо с питанием, 
                либо с общим проводом, в зависимости от команды в программе. 
                По сути — это программно управляемый электронный ключ.</p>
            <img src="static\img\GPIO-500x237.png" alt="Иллюстрация к статье" class="article-cover">
            <p>Интерфейс GPIO в режиме выхода используется для управления любыми устройствами: светодиодами, силовыми транзисторами и реле, цифровыми микросхемами, и пр.</p>
            <p></p>
            <p>В режиме <strong>входа</strong> контакт GPIO считывает электрический сигнал на ножке микроконтроллера и делает его доступным для дальнейшей обработки в программе. 
                Вход используется для подключения различных датчиков, кнопок.</p>
            <p></p>
            <p>Разумеется с помощью GPIO можно программно реализовать и любой цифровой протокол обмена данными: UART, I2C, SPI и т.п., правда, с некоторыми негативными последствиями.</p>
            
            <h4>Память</h4>
            <p>Как и в обычном компьютере, память микроконтроллера делится два вида:</p>
            <p></p>
            <p><strong>ПЗУ</strong> — постоянное запоминающее устройство или постоянная память. В ПЗУ хранится программа микроконтроллера. 
                Данные в ПЗУ хранятся даже при выключенном питании микроконтроллера, так что можно быть уверенным, что однажды будучи записанной, программа останется в микроконтроллере навсегда.</p>
            <p></p>
            <p><strong>ОЗУ</strong> — оперативное запоминающее устройство или оперативная память. 
                Эта память используется для хранения переменных и стека в ходе выполнения программы. ОЗУ является энергозависимым, значит при выключении питания память полностью очищается.</p>
            <p></p>
            <p>Также микроконтроллеры в своей работе могут использовать <strong>EEPROM</strong> — это тоже постоянная память, но которая может быть использована программистом для своих нужд. 
                Например, в EEPROM можно хранить настройки прибора.</p>
            <p></p>
            <p>Как уже было сказано ранее, памяти у микроконтроллера гораздо меньше, чем у его старшего брата — компьютера. Так что при написании программы мы можем легко столкнуться с её нехваткой. 
                Следует всегда держать в голове эту особенность микроконтроллера и стараться оптимизировать программу, в частности, правильно выбирать типы переменных.</p>
            
                                                <h4>Аппаратные интерфейсы</h4>
            <p>Как уже упоминалось выше с помощью GPIO можно организовать обмен данными с другими устройствами по любому протоколу, будь то I2C, SPI или UART. Но такой подход чреват разными неприятностями:</p>
            <li>по-первых, при программной реализации протокола не получится добиться высоких скоростей обмена;</li>
            <li>во-вторых, реализованный таким образом обмен будет отвлекать ядро от основных вычислений, замедляя их;</li>
            <li>в-третьих, придётся разбираться с тем как устроен протокол.</li>
            <p></p>
            <p>Очень хорошо, что в микроконтроллерах есть набор <strong>аппаратных интерфейсов</strong>, которые полностью берут на себя обеспечение обмена данными. 
                Аппаратный интерфейс — это отдельное устройство внутри микросхемы микроконтроллера, которое полностью берет на себя реализацию протокола.</p>
            <p></p>
            <p>В разных МК набор интерфейсов разный и по-разному организован. Где-то они связаны с конкретными контактами микросхемы, которые нельзя поменять. 
                В других микроконтроллерах аппаратный интерфейс можно назначить на любые контакты. Часто бывает и так, что одни и те же контакты используются сразу для нескольких интерфейсов и при выборе одного, остальными приходится жертвовать.</p>
            
            <h4>ШИМ, АЦП и ЦАП</h4>
            <p>Кроме интерфейсов, контакты микроконтроллера могут быть связана со специальными функциями, которые сильно упрощают работу с периферией.</p>
            <p></p>
            <p><strong>ШИМ</strong> — широтно импульсная модуляция. Применяется для управления двигателями и другой мощной нагрузкой, например, светодиодами.</p>
            <p></p>
            <p><strong>АЦП</strong> — аналого-цифровой преобразователь. С помощью этого устройства можно считывать аналоговые сигналы, например, от датчиков.</p>
            <p></p>
            <p><strong>ЦАП</strong> — цифро-аналоговый преобразователь. Может создать на контакте напряжение произвольной величины.</p>
            
                                                <h4>Отладочная плата</h4>
            <p>Сам по себе микроконтроллер — это микросхема, которая, к тому же, может иметь очень маленький размер — несколько миллиметров. 
                К ней провод то подключить будет проблематично, не говоря уже о соединении её с компьютером через USB.</p>
            <p></p>
            <p><strong>Отладочная плата</strong> — это печатная плата, на которой размещается микросхема микроконтроллера, несколько радиодеталей для обеспечения её работы, которые ещё называются обвязкой, и набор удобных разъёмов. 
                Дополнительно на плате могут быть размещены преобразователи напряжения, дополнительная память и различные периферийные устройства: датчики, внешние аппаратные интерфейсы (например, USB-UART), светодиодные индикаторы, кнопки, и т.д.</p>
            <p></p>
            <p>Пожалуй, самая популярная отладочная плата среди любителей — это <strong>Arduino UNO</strong>. Разработчики этой платы, а также специальной среды разработки для неё — Arduino IDE, сделали настоящий прорыв в области DIY-электроники. 
                Благодаря концепции Arduino программировать микроконтроллеры смогли даже люди, не обладающие глубокими техническими знаниями.</p>
            <p></p>
            <p>Сегодня имеется множество плат совместимых с Arduino UNO. Например, UNO2 от RobotClass или RedBoard от Sparkfun:</p>
            <img src="static\img\robotclass-uno2-500x405.jpg" alt="изображение к статье" width="300" height=auto>
            <img src="static\img\sparkfun-red-board-500x359.jpg" alt="изображение к статье" width="338" height=auto>
            <p>Разумеется, есть отладочные платы и на основе других микроконтроллеров. Вот некоторые из известных:</p>
            <p></p>
            <p><strong>Blue Pill</strong> — плата на основе STM32F103C8T6; кроме Blue Pill существуют и другие варианты с разными МК из серии STM32;</p>
            <p></p>
            <p><strong>Node MCU</strong> — серия отладочных плат на основе SoC ESP, включая ESP8266 и ESP32.</p>
            <p></p>
            <p><strong>Adafruit Feather</strong> — линейка плат компании Adafruit на разных микроконтроллерах, включая Atmega, ESP/ESP32, RP2040;</p>
            <p></p>
            <p><strong>Графит</strong> — отладочные платы на основе ESP/ESP32 и RP2040, разработанные в RobotClass.</p>
            <p></p>
            <p>Разумеется, при достаточном уровне знаний и навыков можно сконструировать свою отладочную плату. Можно даже собрать её на макетной плате при помощи перемычек.</p>
            
                                                <h4>Программа</h4>
            <p>Процессы написания программы для микроконтроллера и компьютера очень похожи: используются похожие редакторы кода, знакомые языки программирования. 
                Но есть и важное отличие: после написания, программу необходимо как-то загрузить в память микроконтроллера.</p>
            <p></p>
            <p>Как и в случае программ для компьютера, разработка программ для МК ведётся в среде разработки (IDE). 
                Среда разработки — это приложение для компьютера, в котором есть редактор исходного кода и различные инструменты для его обработки, компиляции и отладки, включая и загрузку на микроконтроллер.</p>
            <p></p>
            <p>Ниже список известных IDE для популярных в DIY микроконтроллеров.</p>
            <p></p>
            <p><strong>Arduino IDE</strong> — изначально разработана для отладочных плат Arduino с микроконтроллером Atmega. 
                В дальнейшем её функционал расширен настолько, что она может работать с большим количеством других МК.</p>
            <a href="https://www.arduino.cc">Официальный сайт Ардуино</a>
            <p></p>
            <p><strong>STM32CubeIDE</strong> — официально поддерживаемая ST Microelectronics среда разработки для МК их производства.</p>
            <p></p>
            <p><strong>Keil MDK</strong> — мощная IDE для микроконтроллеров с архитектурой ARM Cortex-M;</p>
            <p></p>
            <p><strong>PlatformIO</strong> — расширение для Visual Studio Code, которое поддерживает множество платформ и микроконтроллеров, включая Arduino, ESP и другие.</p>
            <p></p>
            <p><strong>Code Composer Studio</strong> — этой IDE пользуются для разработки под микроконтроллеры и процессоры Texas Instruments, включая MSP430 и Sitara.</p>
            <p></p>
            <p><strong>IAR Embedded Workbench</strong> — коммерческая IDE, поддерживающая широкий спектр архитектур микроконтроллеров. Известна своей эффективностью и оптимизацией.</p>
            <p></p>
            <p><strong>Atmel Studio</strong> — Ранее известен как AVR Studio, эта IDE предназначена для разработки под микроконтроллеры Atmel AVR и ARM, теперь принадлежащие Microchip.</p>

                                                    <h4>Загрузка на микроконтроллер</h4>
            <p>Когда программа написана, её нужно загрузить в постоянную память микроконтроллера. 
                Этот процесс ещё называют <strong>прошивкой</strong>. В зависимости от конкретного МК могут быть разные варианты того, как это сделать.</p>
            <p></p>
            <h5>Загрузка через программатор</h5>
            <p>Программатор — это отдельное электронное устройство которое с одной стороны подключается к компьютеру, а с другой к микроконтроллеру. 
                Как правило, с помощью программатора можно также производить отладку программы.</p>
            <p></p>
            <p>Например, для прошивки STM32 можно использовать программатор ST-Link Mini V2. Для прошивки микроконтроллеров Atmega, который используются в платах Arduino, подойдёт программатор AVR ASP.</p>
            <p></p>
            <h5>Загрузка с помощью загрузчика</h5>
            <p>Загрузчик — это такая программа, однажды помещённая в память микроконтроллера и позволяющая прошивать его через доступные интерфейсы: UART, USB, SPI, даже через WiFi.</p>
            <p></p>
            <p>Например, в отладочных платах Arduino имеется загрузчик, который работает с UART. Чтобы им воспользоваться, необходимо подключить плату к USB-порту компьютера через преобразователь интерфейса USB-UART (его ещё называют USB-UART мост). 
                Этот преобразовательно может быть отдельным устройством, либо быть встроенным в саму отладочную плату, как на Arduino UNO.</p>
            <p></p>
            <p>Когда микроконтроллер подключается таким образом к компьютеру, то в операционной системе последнего автоматически определяется новый последовательный порт. В Windows он называется COM-порт, в Linux — tty. Дальнейшие действия зависят от программных инструментов, с которыми работает разработчик. 
                Например, в Arduino IDE достаточно будет указать в настройках правильный COM-порт и смело прошивать микроконтроллер своей программой.</p>
            <a href="https://robotclass.ru/tutorials/chto-takoe-mikrokontroller/">информация взята с этого сайта</a>
            

            <p>Микроконтроллеры — это не просто «мозги» множества современных устройств, а мощный инструмент для творчества и инноваций. 
                Их сочетание функциональности, доступности и простоты освоения делает их незаменимыми как для профессионалов, так и для любителей. 
                Будущее электроники невозможно представить без дальнейшего развития и внедрения этих компактных, но удивительно способных устройств.</p>
        </div>

        <form method="POST" action="/arduino" class="custom-button">
            <button>Интересно? Пройди тест!</button>  
        </form>
        <form method="POST" action="/help" class="custom-button">
            <button type="submit" name="user_input" value="">
                Помоги нам улучшить сайт
            </button>  
        </form>

        <footer class="article-footer">
            <p class="share-links">Поделиться: <a href="#">ВКонтакте</a> | <a href="#">Telegram</a></p>
        </footer>
    </article>
</body>
</html>