<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок статьи</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <article class="article">
        <header class="article-header">
            <form method="POST" action="/" class="custom-button">  
                <button>Главная страница</button>
            </form>
            
            <h1 class="article-title">Информация о сайте</h1>
            <h2 class="article-title2">Что можно узнать и весь интерактив</h2>
        </header>
        <div class="article-content">
            <h2>Содердание</h2>
            <p>На данной статье можно найти всю интересующую вас информацию про микроконтроллеры. Ну как минимум большую часть...</p>
            <p>На главной страница расположена информация о том <strong>"Что такое микроконтроллеры и где их применяют"</strong>
             и <strong>Принцип работы микроконтроллера</strong></p>
            <h2>Интерактив</h2>
            <p>Вы можете проверить свои знания о микроконтроллерах прямо на сайте. На сайте реализован тест с большим количеством вопросов,
                выдающихся по 10 штук за тест. В будущем добавиться гигантская база данных со всеми платами Arduino и их характиристиками.</p>
            <h2>Важно!</h2>
            <p>Сайт находится в ранней бето верии. Вы можете помочь нам с идеями для реализации на сайте, для этого на страницах расположены специальные кнопки, ведущие на страницу 
                <strong>"Help"</strong></p>
        </div>
        <footer class="article-footer">
            <p class="share-links">Поделиться: <a href="#">ВКонтакте</a> | <a href="#">Telegram</a></p>
        </footer>
    </article>
</body>
</html>